@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewData["Title"] = "Extruder Charts";
}
<div class="container-fluid px-0">
    <div class="row">

        <!-- Kneader -->
        <div class="col-lg-4 px-0 col-md-6 col-sm-12" >
            <a href="Kneader/Index" class="work-box">
                <img src="~/Images/Mixing.png">
                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Kneader Charts</h5>
                        <p>Mixing Area</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Extruder -->
        <div class="col-lg-4 px-0 col-md-6 col-sm-12">
            <a href="/Extruder/Index" class="work-box">
                <img src="~/Images/Extruder.png">
                <div class="overlay red">
                    <div class="overlay-caption">
                        <h5>Mesus Charts</h5>
                        <p>Extruder Area</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Oven -->
        <div class="col-lg-4 px-0 col-md-6 col-sm-12">
            <a href="/Oven/Index" class="work-box">
                <img src="~/Images/Oven.png">
                <div class="overlay red">
                    <div class="overlay-caption">
                        <h5>Oven Charts</h5>
                        <p>Oven Area</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- BatchOff -->
        <div class="col-lg-4 px-0 col-md-6 col-sm-12">
            <a href="/BatchOff/Index" class="work-box">
                <img src="~/Images/BatchOffCharts.png">
                <div class="overlay red">
                    <div class="overlay-caption">
                        <h5>Batch Off Charts</h5>
                        <p>Mixing Area </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>