@{
}

<section id="portfolio" class="iot-portfolio section no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">

            <!-- Kneader -->
            <div class="col-lg-4 col-md-6 col-sm-12 work tile-large">
                <a href="Kneader/Index" class="work-box">
                    <img src="~/images/Mixing.png" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Kneader Charts</h5>
                            <p>Mixing Area</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Extruder -->
            <div class="col-lg-4 col-md-6 col-sm-12 work tile-medium">
                <a href="/Extruder/Index" class="work-box">
                    <img src="~/images/Extruder.png" alt="">
                    <div class="overlay red">
                        <div class="overlay-caption">
                            <h5>Mesus Charts</h5>
                            <p>Extruder Area</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>