html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.titulo-con-linea {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #00ff90;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInDown 0.6s ease-out forwards;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

    /* Contenedor */
.work-box {
    position: relative;
    overflow: hidden;
    display: block;
}

/* Imagen con zoom */
.work-box img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.work-box:hover img {
    transform: scale(1.12); /* Zoom suave */
}

/* Overlay rojo */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(180, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.work-box:hover .overlay {
    opacity: 1;
}

/* Texto que baja desde arriba */
.overlay-caption {
    position: absolute;
    top: -30px; /* empieza arriba */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.45s ease;
}

.work-box:hover .overlay-caption {
    top: 50%; /* baja al centro */
    transform: translate(-50%, -50%);
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 20px;
}

.grafica-box {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}